*{
    padding: 0px;
    margin: 0px;
   font-family: Georgia, 'Times New Roman', Times, serif;
 
}
h1{
    font-family: "Playwrite GB S", cursive;
    padding: 20px;
    background-color: inherit;
    color: rgb(66, 18, 18);
 }
 header{
    background-color: rgb(235, 89, 89);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 20px,20px;
}
i{
    background-color: inherit;
}
ul{
    float: right;
    display: flex;
    
    margin-top: 20px;
}
ul li{
   
   
    list-style: none;
    margin: 20px;
   
}
a{
    color: rgb(66, 18, 18);
    text-decoration: none;
}
a:hover{
    color: rgb(212, 22, 22);
    text-shadow: 3px 5px 3px rgb(105, 9, 9);
}
#bgimg{
    background-image: url(https://cdn.pixabay.com/photo/2017/08/05/12/33/flat-lay-2583213_1280.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
 
    background-size: cover;
    
}
.row{
    width: 100%;
    height: 500px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
.col{
    width: 400px;

}p{
    text-align: justify;
}
#text{
    position: absolute;
    top: 40%;
    left: 45%;
    padding: 60px;
    font-weight: 500;
    font-size: 70px;
    color: rgb(199, 15, 15);
    
  
}
#vdeo{
    width: 100%;
    height: 1000px;
}
.row1{
    width: 100%;
    height: 500px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
  
   background-color: rgb(240, 169, 169);
}
.col1{
    width: 100%;
   
}
#text1{
    position: absolute;
    top: 125%;
    left: 2%;
    padding: 60px;
    font-weight: 500;
    font-size: 30px;
    color: rgb(199, 15, 15);
    text-align: justify;
}
span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(170, 25, 25);
    font-weight: 800;
}
.row2{
    width: 100%;
    height: 900px;
    padding: 0px;
    margin: 0px;
    top: 50%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   background-color: rgb(240, 169, 169);
}
#order{
    width: 100%;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 50px;
    color: rgb(170, 25, 25);

}
.row2{
    width: 100%;
    height: 500px;
   
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.col2{
    width: 300px;
    height: 350px;
    background-color: rgb(202, 83, 83);
    text-align: center;
}
.col2  h3{
   margin: 10px;
   color: rgb(53, 3, 3);
}
.col2 h4{
    margin: 10px;
    color: rgb(53, 3, 3) ;
}

.col2 button{
    background-color: rgb(92, 37, 37);
    color:white;
    padding: 7px;
}
.col2 button:hover{
    background-color: rgb(80, 5, 5);
    color: white;
}

.row3{
    width: 100%;
    height: 500px;
    background-color: rgb(240, 169, 169);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.col3{
    width: 300px;
    height: 350px;
    background-color: rgb(202, 83, 83);
    text-align: center;
}
.col3  h3{
   margin: 10px;
   color: rgb(53, 3, 3);
}
.col3 h4{
    margin: 10px;
    color: rgb(53, 3, 3) ;
}

.col3 button{
    background-color: rgb(92, 37, 37);
    color:white;
    padding: 7px;
}
.col3 button:hover{
    background-color: rgb(80, 5, 5);
    color: white;
}

.row4{
    width: 100%;
    height: 400px;
    background-color: rgb(235, 89, 89);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.col4{
    height: 270px;
   color: white;
    margin: 10px;
    font-size: 20px;
}
.p1{
    color: rgb(54, 4, 4);
}
.a1{
    color: white;
 
}
@media (min-width: 480px) {
    body {
      font-size: 18px;
    }
  }
  